

.container-fluid {
	background-image: url("images/1565413134137.jpg");
}
.our-word {
	border-top: 1px dashed rgba(102, 102, 102, 0.5);
	float: left;
	height: auto;

	overflow: hidden;
	padding: 40px 0;
	width: 100%;
}
.work-heading, .work-content {
	float: left;
	width: 100%;
}
.our-word .thumbnail {
	background-color: #f79602;
	border: 1px solid #f58d03;
	border-radius: 0;
	height: 191px;
	line-height: 1.42857;
	margin: 3px !important;
	padding: 1px;
}
.caption {
	background: rgba(253, 184, 21, 0.7) none repeat scroll 0 0;
	color: #fff !important;
	display: none;
	height: 187px;
	padding: 2%;
	position: absolute;
	text-align: left;
	top: 5px;
	width: 87%;
	z-index: 2;
}
.caption p {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-family: lato;
	font-size: 14px;
	height: 25%;
	line-height: normal;
	position: relative;
	vertical-align: middle;
}
.html body section.our-word div.container div.row div.col-sm-3.gal_img div img {
	height: 100%;
	width: 100%;
}

.thumbnail .caption {
	color: rgb(51, 51, 51);
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}
.work-heading h1 {
	color: rgb(247, 150, 2);
	font-family: lato;
	font-size: 30px;
	font-weight: 300;
	margin: 0;
	padding: 0 0 40px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
}
